<header class="app-header">
  <div class="header-top">
    <img class="brand-logo" src="assets/logo-coimbroes.png" alt="S.C. Coimbrões" onerror="this.style.display='none'">
    <span class="brand-title">Coimbrões Youth Cup Sub10</span>
  </div>

  <nav class="header-tabs">
    <a class="h-tab" href="#/" data-page="/">Início</a>
    <a class="h-tab" href="#/jogos" data-page="/jogos">Jogos</a>
    <a class="h-tab" href="#/classificacao" data-page="/classificacao">Classificação</a>
    <a class="h-tab" href="#/equipas" data-page="/equipas">Equipas</a>
    <a class="h-tab" href="#/patrocinadores" data-page="/patrocinadores">Patrocinadores</a>
  </nav>
</header>